body{
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(images/kareena-kapoor-khan-gym-workout.webp);
    font-family: 'Alkatra', cursive;    
}

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 30px;
    top: 40px;
    padding-top: 0%;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: grey;
    font-size: 250%;

}
/* .left img{
    width: 136px;
    filter: invert(); /*for invert photo
} */


.mid {
    display: block;
    border: 2px solid blue;
    width: 37%;
    margin: 29px auto;

}
.right {
    position: absolute;
    border: 2px solid pink;
    right: 44px;
    top: 40px;
    display: inline-block;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 18px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover, .navbar li a.active{
     text-decoration: underline;
     color: rgb(111, 108, 108);
}

.btn{
    font-family: 'Alkatra', cursive;
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 4px 15px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(185, 175, 175);
}

.container{
    border: 2px solid white;
    margin: 106px 86px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}

.form-group input{
    text-align: center;
    display: block;
    width: 354px;
    padding: 9px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 13px;
}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 53%;
    margin: auto;
}
